extends base

block header
    .void

block content 
    main.overview

        .sidebar
            .user
                img.user__pic(src='img/panda4.jpg')
                p.user__name Léa Candat
            .sidebar__nav
                p Devis
                ul 
                    li: a(href='#') Liste des devis
                    li: a(href='#')  Ajouter un devis
                p Factures
                ul
                    li: a(href='#') Liste des factures
                p Clients
                    ul
                        li: a(href='#') Liste clients
                        li: a(href='#')  Ajouter un client
                p: a(href='#') Statistiques
                p: a(href='#') Informations personnelles
                
            

        .projects-container

            each project in projects
                .card
                    .card__header
                        p= `${project.name} `
                        p= `${project.date.toLocaleString('fr-FR', {day: 'numeric', month: 'long', year: 'numeric'})}`
                    
                    .card__details 
                        ul
                            div
                                li 
                                    strong Type de projet: 
                                    |  #{project.projectType}
                                li
                                    strong Devis: 
                                    |  #{project.quote}
                            div
                                li
                                    strong Nombre de factures: 
                                    |  #{project.billsQuantity}
                                li 
                                    strong Montant total factures: 
                                    |  #{project.billsTotal}
                            div
                                li  
                                    strong Statut : 
                                    #{project.status}
                                li
                                    strong Règlement: 
                                    | 50 €
                    
                        a(href=`/project/${project._id}`)
                            button.btn.btn--details Détails