extends base

block content 
    main.overview
        include _sidebar
        .projects
            .projects__header
                h1 Projets
                .search 
                    p Rechercher par
                    input
                    input
                    a: button filtres

            .projects__container
                
                each project in projects
                    //- récupère le status du projet, le met en minuscule et enlève les espaces pour l'ajouter en classe
                    - let statuscolor = project.status.toLowerCase().trim().split(' ').join('')
                            
                    div(class=`card ${statuscolor}`)
                        div(class=`card__header ${statuscolor}`)
                            p= `${project.name} `
                            p= `${project.date.toLocaleString('fr-FR', {day: 'numeric', month: 'long', year: 'numeric'})}`
                        
                        .card__details 
                            ul
                                div
                                    li 
                                        strong N° devis : 
                                        |  #{project.quoteNumber }
                                    li
                                        strong Devis : 
                                        |  #{project.quote} €
                                    
                                div
                                    li
                                        strong Client 
                                        |  #{project.client}
                                    li 
                                        strong Type de projet : 
                                        |  #{project.projectType}
                                    
                                div
                                    li
                                        strong Nombre de factures : 
                                        |  #{project.billsQuantity}
                                    li 
                                        strong Montant total factures : 
                                        |  #{project.billsTotal} €
                                div
                                    li  
                                        strong Statut : 
                                        |  #{project.status}
                                    li
                                        strong= 'Règlement :' 
                                        |   #{`${project.alreadyPaid > 0 ? `${project.alreadyPaid} €` : 'En attente'}`}
                        
                            a(href=`/project/${project._id}`)
                                button.btn.btn--details Détails

                            a(href=`/project/${project._id}/edit`)
                                img(src='/img/edit.png')
