extends base

block content
    .projectview

        //- récupère le status du projet, le met en minuscule et enlève les espaces pour l'ajouter en classe
        - let statuscolor = project.status.toLowerCase().trim().split(' ').join('')
        //- récupère la date du jour pour l'encadré des nouvelles factures
        - let date = new Date(Date.now()).toLocaleString('fr-FR', {day: 'numeric', month: 'long', year: 'numeric'});

        include _sidebar
        
        //- fenêtre modale pour créer une nouvelle facture
        include _newBill

        //- fenêtre modale pour éditer une facture
        include _editBill

        .project
            .project__header 
                h1 Project Details

            div(class=`card ${statuscolor}`)
                div(class=`card__header ${statuscolor}`)
                    p= `${project.name} `
                    p= `${project.date.toLocaleString('fr-FR', {day: 'numeric', month: 'long', year: 'numeric'})}`

                .card__details 
                    ul
                        div
                            li 
                                strong N° devis : 
                                span= `DEV${project.quoteNumber }` 
                            li
                                strong Montant : 
                                span  #{project.quote} €

                        div
                            li
                                strong Client 
                                |  #{project.client}
                            li 
                                strong Type de projet : 
                                |  #{project.projectType}

                        div
                            li
                                strong Nombre de factures : 
                                |  #{project.billsQuantity}
                            li 
                                strong Montant total factures : 
                                |  #{project.billsTotal} €
                        div
                            li  
                                strong Statut : 
                                |  #{project.status}
                            li
                                strong Règlement: 
                                |  #{`${project.alreadyPaid > 0 ? `${project.alreadyPaid} €` : 'En attente'}`}


                    a(href=`/project/${project._id}/edit`)
                                img(src='/img/edit.png')

            .billsHeader
                h1 Factures
                img#newBillButton(src='/img/add.png')

            each bill in project.bills
                - let billcolor = bill.state === 'Effectué' ? 'terminé' : 'arégler';

                div(class=`card ${billcolor}`)
                    div(class=`card__header ${billcolor}`)
                        p= `${bill.billName} `
                        p= `${bill.createdAt.toLocaleString('fr-FR', {day: 'numeric', month: 'long', year: 'numeric'})}`

                    .card__details.card__details--bill
                        ul
                            li
                                strong N° facture : 
                                |  #{bill.billNumber }
                            li
                                strong Montant facture : 
                                |  #{bill.price} €
                            li
                                strong Catégorie :
                                |   #{bill.category}
                            li
                                - const setDate = bill.paidAt ? new Date(bill.paidAt) : new Date;
                                - const yyyy = setDate.getFullYear();
                                - const mm = setDate.getMonth() < 10 ? `0${setDate.getMonth() + 1}` : setDate.getMonth() + 1;
                                - const dd = setDate.getDate()

                                strong Règlement : 
                                |   #{bill.state === 'Effectué' ? `${dd}/${mm}/${yyyy}` : 'En attente'}
                            

                        img.editBillButton(src='/img/edit.png' data-id=`${bill._id}`)



            

            

