extends base

block content
    .projectview
        //- récupère le status du projet, le met en minuscule et enlève les espaces pour l'ajouter en classe
        - let statuscolor = project.status.toLowerCase().trim().split(' ').join('')

        include _sidebar

        .project
            .project__header 
                h1 Project Details

            div(class=`card ${statuscolor}`)
                div(class=`card__header ${statuscolor}`)
                    p= `${project.name} `
                    p= `${project.date.toLocaleString('fr-FR', {day: 'numeric', month: 'long', year: 'numeric'})}`

                .card__details 
                    ul
                        div
                            li 
                                strong N° devis: 
                                |  #{project.quoteNumber }
                            li
                                strong Devis: 
                                |  #{project.quote}

                        div
                            li
                                strong Client 
                                |  #{project.client}
                            li 
                                strong Type de projet: 
                                |  #{project.projectType}

                        div
                            li
                                strong Nombre de factures: 
                                |  #{project.billsQuantity}
                            li 
                                strong Montant total factures: 
                                |  #{project.billsTotal}
                        div
                            li  
                                strong Statut : 
                                |  #{project.status}
                            li
                                strong Règlement: 
                                |  #{project.alreadyPaid}


                    img(src='/img/edit.png')

            h1 Factures

            each bill in bills
                - let billcolor = bill.paid ? 'terminé' : 'proposition';

                div(class=`card ${billcolor}`)
                    div(class=`card__header ${billcolor}`)
                        p= `${bill.name} `
                        p= `${bill.createdAt.toLocaleString('fr-FR', {day: 'numeric', month: 'long', year: 'numeric'})}`

                    .card__details 
                        ul
                            li 
                                strong N° facture: 
                                |  #{bill.billNumber }
                            li
                                strong Montant facture: 
                                |  #{bill.price}
                            li
                                strong #{bill.paid ? 'Réglé' : 'En attente' }

                        img(src='/img/edit.png')



            

            

