extends base

block content

    main.stats
        include _sidebar
        .stats-container

            header.header 
                h1 Facturation
            
            each year in yearStats
                .year-container
                    .year-container__header
                        h2= `${year._id.year}`
                        span Devis
                        span Factures
                        span Règlements

                    each month in monthlyStats
                        if (month._id.year == year._id.year)
                            .year-container__month
                                h3.month-title= `${month._id.month}`
                                span= month.projectsSum ? `${month.projectsSum} €` : '0 €'
                                span= month.billsSum ? `${month.billsSum} €` : '0 €'
                                span= month.paidBillsSum ? `${month.paidBillsSum} €` : '0 €'
                    
                    .year-container__total
                        h3 Total
                        strong= `${year.projectTotal} €`
                        strong= `${year.billTotal} €`
                        strong= `${year.paidBillTotal} €`

            
        
        
        
